body{
	background: #333;
}
.social-feed{
	width: 500px;
	margin: 0 auto;
	display: block;
	display: table;
	margin-left: -40px;
}

.clearfix{
	clear: both;
}

.social-feed li{
	width: 140px;
	height: 140px;
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.social-feed li img{
	width: 140px;
	height: 140px;
}
