body{
	background-image: url(../img/bg.png) !important;
	background-repeat: repeat;
}

h1.main {
  color: #ec543a !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 72px;
}

.glyphicon {
	  color: #ae9e96 !important;

}
.social-feed{
	width: 500px;
	margin: 0 auto;
	display: block;
	display: table;
	margin-left: -40px;
}

div.rss2html-note {
	color: #eee !important;
}

.clearfix{
	clear: both;
}

.social-feed li{
	width: 140px;
	height: 140px;
	list-style: none;
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.social-feed li img{
	width: 140px;
	height: 140px;
}
